.dateButton {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  width: 50px;
  height: 36px;
}

.dateButton:hover {
  background-color: var(--hover-color);
}

.otherMonth {
  color: var(--non-current-month-color);
}

.today {
  background-color: var(--today-color);
}

.today:hover {
  background-color: var(--hover-color);
}

.selected {
  background-color: var(--selected-color);
  color: var(--default-color);
}
